Django==1.9
Markdown==2.6.6
Pillow==2.7.0
behave==1.2.5
dj-database-url==0.3.0
django-filter==0.13.0
djangorestframework==3.3.3
parse==1.6.6
parse-type==0.3.4
reportlab==3.1.44
selenium==2.44.0
six==1.9.0
waitress==0.8.10
whitenoise==2.0.6
